.stripe-fondo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  background-color: rgb(242, 237, 237);
  background-position: center;
  background-size: cover;
  padding-top: 60px;
}
