.card-body {
    display: flex;
    flex-direction: column;
    border-radius: 25px !important;
    padding: 20px !important;
    justify-content: space-between !important;
    background-color: white;

    h3,
    h5 {
        font-weight: bold;
        color: #09427d;
    }

    .title-card-info {
        display: flex;
        justify-content: space-between;
    }
}

.buy-projectbutton-card {
    background-color: #09427D !important;
    border-radius: 50px !important;
    font-weight: bold !important;
    border: none !important;
    color: white !important;
    width: 137px;
    height: 44px;
    align-self: center;
}


.stripe-fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    background-color: #F2F4F6;
    background-position: center;
    background-size: cover;
    padding-top: 4rem;

    h1 {
        font-size: 40px;
        font-weight: bold;
        color: #09427d;
    }
}