.fondo-forgo {
  height: 100vh;
  background-image: url("../../../public/images/fondo.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.contAuth-forgo {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19);
  border-radius: 24px;
  padding: 40px;
  max-width: 524px;
}

.titulo-forgo {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
}

.label-forgo {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 8px;
  text-align: left;
  padding: 0px;
}

.boton-login-forgo {
  padding: 12px 24px;
  width: 100%;
  height: 44px;
  border-radius: 24px !important;
  border: none !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 140% !important;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.nada-juntos-forgo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .contAuth-forgo {
    max-width: 90vw !important;
    padding-inline: 15px !important;
    margin-bottom: 6rem;
    h1 {
      font-size: 2rem;
    }
  }
}
