@import "../variables";

.add-newproject-modal,
.buy-newproject-modal,
.exit-buyproject-modal {
  background-color: $azulCoolx !important;
  border-radius: 50px !important;
  font-weight: bold !important;
  border: none !important;
  color: white !important;
  width: 100%;
}

.exit-buyproject-modal {
  background-color: $azulCoolxClaro !important;
}

.exit-buyproject-modal:hover {
  background-color: white !important;
  color: $azulCoolx !important;
  box-shadow: inset 0 0 0 2px $azulCoolxClaro !important;
}

.add-newproject-modal:hover,
.buy-newproject-modal:hover {
  background-color: white !important;
  color: $azulCoolx !important;
  box-shadow: inset 0 0 0 2px $azulCoolx !important;
}

.border {
  border: none !important;
}

.centrar {
  display: flex !important;
  justify-content: center !important;
}