.buy-project-list {
    background-color: #09427D !important;
    border-radius: 50px !important;
    font-weight: bold !important;
    border: none !important;
    color: white !important;
}

.buy-project-list:hover {
    background-color: white !important;
    color: #09427d !important;
    box-shadow: inset 0 0 0 2px #09427d !important;
}

.table-buy-project {


    thead {
        background-color: #09427D !important;
        color: white;
    }

}

@media screen and (max-width:490px) {
    .table-buy-project {
        .id-table-buyproject {
            display: none;
        }
    }

    .buy-project-list {

        background-image: url("../../../public/assets/icons/wallet_white.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        margin: auto !important;
        display: block !important;

        p {
            display: none;
        }

    }
}