.wrapperProjectInfo {
  max-inline-size: 1400px;
  // padding-inline-end: 16px;
  // padding-inline-start: 16px;
  margin: auto;

}

.cardProjectInfo {

  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 2px 0px #00000052;



  img {
    border-radius: 10px;
  }

  .imgCarousel {
    margin: 23px 16px;
  }
}

.barraStatus,
.descripcionProjectInfo {
  margin-top: 23px;
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (max-width: 520px) {
  .descripcionProjectInfo {
    padding-left: 12px;
    padding-right: 12px;
  }
}