.cardStatus {
  display: flex;

  .cardRegistrado {
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0px 2px 2px 0px #00000052;
    img {
      padding-left: 1rem;
    }
    p {
      margin-top: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.015em;
      padding-left: 1rem;
    }
  }

  .cardCalculando {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px 0px #00000052;
    img {
      padding-left: 1rem;
    }
    p {
      margin-top: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.015em;
      padding-left: 1rem;
    }
  }

  .cardCompletado {
    display: flex;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 2px 2px 0px #00000052;
    img {
      padding-left: 1rem;
    }
    p {
      margin-top: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.015em;
      padding-left: 1rem;
    }
  }
}

.status-on {
  color: white !important;
  background-color: #70bfcb;
}

.status-off {
  color: #bcc2cc;
  background-color: white;
}

@media screen and (max-width: 520px) {
  .cardStatus {
    .cardRegistrado,
    .cardCalculando,
    .cardCompletado {
      img {
        display: none;
      }
    }
  }
}

// background-color: #70bfcb;
// color: #bcc2cc;
