.bage {
    padding-top: 5%;
    gap: 50px !important;
}

.contenedor {
    padding: 15px;
    gap: 23px;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19);
    border-radius: 8px;

    .img {
        width: 50%;

        .d-block {
            height: 230px;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
        }
    }

    .letras {
        width: 50%;

        h4 {
            color: #09427d;
            font-weight: bold;
        }

        p {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
        }
    }

    .butun {
        width: 100%;
        height: 44px;
        border-radius: 80px;
        background-color: #70bfcb;
        color: white;
        border: none;
    }

    .division {
        display: flex;
        flex-direction: row;
    }
}

.prueba {
    img {
        height: 60px;
    }
}