.admin-tree-title {
  padding-top: 60px;

  .admin-title {
    padding-top: 2rem;
    display: flex;

    h1 {
      color: #09427d;
      font-weight: bold;
      font-family: Manrope, Arial, serif;
    }

    button {
      background-color: transparent;
      border: none;
    }

    button:hover {
      background-color: transparent;
    }
  }

  .boton-register-tree {
    margin-bottom: 15px;
    background-color: #09427d;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    color: white;
  }

  .boton-register-tree:hover {
    background-color: white !important;
    color: #09427d !important;
    box-shadow: inset 0 0 0 2px #09427d !important;
  }
}

.barra-busq-tree {
  margin-top: 5px;
}

.table-all-trees {
  margin-top: 15px !important;

  border: 1px solid rgb(206, 212, 218) !important;

  th {
    background-color: #09427d !important;
    color: white;
  }

  .boton-delete-tree,
  .boton-edit-tree {
    background-color: #09427d;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    color: white;
  }

  .boton-delete-tree:hover,
  .boton-edit-tree:hover {
    background-color: white !important;
    color: #09427d !important;
    box-shadow: inset 0 0 0 2px #09427d !important;
  }
}
