.adm-proj-state-header {
    margin-top: 5px;
}

.barra-busq-user {
    padding: 12px;
}

.table-allusers {
    border: 1px solid rgb(206, 212, 218) !important;


    thead {
        background-color: #09427D;
    }

    th {
        color: white;
    }

    .info-users,
    .edit-users,
    .close-modal {
        background-color: #09427D;
        border-radius: 50px;
        font-weight: bold;
        border: none;
        color: white;
    }

    .info-users:hover,
    .edit-users:hover,
    .close-modar:hover {
        background-color: white !important;
        color: #09427d !important;
        box-shadow: inset 0 0 0 2px #09427d !important;
    }
}