.admin-tree-title {
    padding-top: 3rem;

    .admin-title {
        padding-top: 4rem;
        display: flex;
        align-items: center;

        h1 {
            color: #09427D;
            font-weight: bold;
            font-family: Manrope, Arial, serif;
        }

        button {
            background-color: transparent;
            border: none;
        }

        button:hover {
            background-color: white !important;
        }
    }

}

.table-all-trees {

    .boton-delete-tree,
    .boton-edit-tree {
        background-color: #B8DBE1;
        border-radius: 80px;
        font-size: 14px;
        font-weight: bold;
        padding: 12px 24px;
        border: none;
        color: white;

    }

    .boton-delete-tree:hover {
        background-color: red !important;
    }


}