.admin-tree-title {
    padding-top: 4rem;

    .admin-title {
        padding-top: 2rem;
        display: flex;


        h1 {
            color: #09427D;
            font-weight: bold;
            font-family: Manrope, Arial, serif;
        }

        button {
            background-color: transparent;
            border: none;
        }

        button:hover {
            background-color: transparent;
        }
    }

}

.table-all-trees {
    padding-top: 5rem;
}

.modalEditTree {
    display: none;
}