.adm-proj-state-header {
  display: flex;
  align-items: center;
  padding-top: 27px;

  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #09427d;
  }

  button {
    background-color: transparent;
    border: none;
  }

  button:hover {
    background-color: transparent !important;
  }
}

.list-text {
  p {
    margin: 0px;
  }
}

.status-col {
  display: flex;
  align-items: center;
  gap: 1rem;

  .pen-status {
    background-color: transparent !important;
    border: none !important;
    padding: 0px;

    img {
      height: 1rem !important;
    }
  }
}

.table-projects {
  background-color: #09427D !important;

  button {
    background-color: transparent;
    border: none;
  }


  th {
    background-color: #09427D !important;
    color: white;

  }

}

.list-text {
  border: 1px solid rgb(206, 212, 218) !important;

  .delete-project,
  .edit-project,
  .info-project,
  .assign-project {
    background-color: #09427D;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    color: white;

    p {
      margin-bottom: 0 !important;
    }

  }

  .delete-project:hover,
  .edit-project:hover,
  .info-project:hover,
  .assign-project:hover {
    background-color: white !important;
    color: #09427d !important;
    box-shadow: inset 0 0 0 2px #09427d !important;

  }
}

@media only screen and (max-width: 970px) {

  .id-user-tableproject,
  .location-project-table {
    display: none !important;
  }


  .edit-project {
    background-image: url("../../../public/assets/icons/edit_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;

    p {
      display: none;
    }
  }

  .info-project {
    background-image: url("../../../public/assets/icons/info_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;

    p {
      display: none;
    }
  }

  .delete-project {
    background-image: url("../../../public/assets/icons/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;

    p {
      display: none;
    }
  }

  .assign-project {
    background-image: url("../../../public/assets/icons/assign_company.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;

    p {
      display: none;
    }
  }


  .status-user-tableproject {
    .status-col {
      display: none;
    }

    .status-col-mobile {
      display: contents;
      display: flex;



      .pen-status {
        background-color: transparent !important;
        border: none !important;
        padding: 0px;
        margin-left: 3px;

        img {
          height: 18px;

        }
      }

      // p {
      //   display: none;
      // }
    }
  }

}

@media only screen and (max-width:1060px) {
  .id-user-tableproject {
    display: none;
  }

}

@media only screen and (max-width: 1920px) {
  .status-col-mobile {
    display: none;
  }
}