@import "../variables";

.veg-title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $azulCoolx;
}

.tarjetas-vegetacion {
  .veg-card-container {
    padding: 0.5rem;

    .veg-card {
      background-color: #ffffff;
      padding: 10px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      max-inline-size: 275px;
      height: 100%;

      h4 {
        color: $azulCoolx;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.01em;
        margin: 0px;
      }

      p {
        font-weight: 500;
        font-size: 11px;
        line-height: 140%;
        color: #bcc2cc;
        margin: 0px;
      }

      .dividir-vegetacion {
        width: 100%;

        img {
          max-inline-size: 80px;
        }

        h1 {
          font-weight: 700;
          font-size: 32px;
          line-height: 120%;
          letter-spacing: -0.02em;
          margin: 0px;
        }

        h6 {
          font-weight: 600;
          font-size: 12px;
          line-height: 140%;
          margin: 0px;
        }
      }
    }

    .sat-text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .botones-vegetacion {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;

      .buton-1 {
        background: #e0ecf8;
        border-radius: 80px;
        border: none;
        width: 124px;
        height: 36px;
        color: $azulCoolx;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
      }

      .buton-2 {
        background: #e0ecf8;
        border-radius: 50%;
        border: none;
        padding: 0px;
        width: 45px;
        height: 45px;
        display: grid;
        place-content: center;

        img {
          width: 98%;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .tarjetas-vegetacion {
    .veg-card-container {
      .veg-card {
        max-inline-size: 100%;
        width: 100% !important;
        text-align: center;

        .dividir-vegetacion {
          div {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
          }
        }
      }
    }
  }
}