.under-construction {
  img {
    max-inline-size: auto;
    min-inline-size: 50%;
    padding-inline: 1rem;
    padding-bottom: 10rem;
  }
}

// @media only screen and () {
//   .under-construction {
//     img {
//     }
//   }
// }
