.nav-color {
    background-color: #09427D;
    color: white;
}


.boton-sesion {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white;
    border-radius: 80px;
    padding: 12px 24px;
}

.navbar-logo {
    img {
        width: 93px;
    }
}

.boton-proyecto {
    background-color: #70BFCB;
    color: white;
    border: none;
    border-radius: 80px;
    padding: 12px 24px;

}

.nav-colorProject {
    background-color: #09427D;
    color: white;
    height: 76px;
}