.nav-color {
  background-color: #09427d;
  color: white;
}

.boton-sesion {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 80px !important;
  padding: 12px 24px !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 140% !important;
}

.navbar-logo {
  img {
    width: 93px;
  }
}

.boton-proyecto {
  background-color: #70bfcb;
  color: white;
  border: none;
  border-radius: 80px;
  padding: 12px 24px;
}

.nav-colorProject {
  background-color: #09427d;
  color: white;
  height: 76px;
}
