.fondo-contact {
    height: 100vh;
    background-image: url("../../../public/images/fondo.jpg");
    background-position: top;
    background-size: cover;
    color: white;
    font-family: Manrope, Arial, serif;
    .form-bg{
        background-color: rgba(255, 255, 255, 0.400);
        border-radius: 24px;
        max-width: 424px;
        .col {
            width: 100%;
        }
        padding: 40px;
        h1 {
            font-size: 32px;
            font-weight: bold;
        }
        h4, .labels {
            font-size: 14px;
            font-weight: 500;
        }
        .button {
            font-size: 14px;
            font-weight: bold;
            background-color: rgb(184, 219, 225);
            width: 100%;
            border-radius: 25px;
            margin-top: 18px;
            padding-block: 12px;
            border: none;
        }
        .textarea{
            padding-top: 10px !important;
        }
        .message {
            margin-top: 16px;
            margin-bottom: 24px;
        }
    }
}
